http://www.bootply.com/60124

<br />
Better to properly utilize Grid features- columns in rows div
<br />
<div class="row-fluid">
    <h4 class=""><i class="icon-plus-sign-alt"></i> General Information</h4>
    <hr>
    <div class="clearfix">
        <fieldset class="span4">
            <label>Origin</label>
            <textarea id="textarea" name="textarea">Enter Address</textarea>

            <select id="selectbasic" name="selectbasic" class="selectpicker">
                <option>Commercial Location with Dock Doors</option>
                <option>Option one</option>
                <option>Option two</option>
            </select>

            <input type="text" class="input" placeholder="Add daterange picker">
            <input type="text" class="input" placeholder="Add range slider">

            <input class="input-small" type="text" placeholder="Pickup Date">
            <input class="input-small" type="text" placeholder="Closes at">
        </fieldset>

        <fieldset class="span4">
            <label>Destination</label>
            <textarea id="textarea" name="textarea">Enter Address</textarea>

            <select id="selectbasic" name="selectbasic" class="selectpicker">
                <option>Commercial Location with Dock Doors</option>
                <option>Option one</option>
                <option>Option two</option>
            </select>

            <select id="selectbasic" name="selectbasic" class="selectpicker">
                <option>Commercial Location with Dock Doors</option>
                <option>Option one</option>
                <option>Option two</option>
            </select>

            <input class="input-small" type="text" placeholder="Pickup Date">
            <input class="input-small" type="text" placeholder="Closes at">
        </fieldset>

        <fieldset class="span4">
            <label>Bill to location</label>
            <textarea id="textarea" name="textarea">Billing Address</textarea>

            <select id="selectbasic" name="selectbasic" class="selectpicker">
                <option>Customer Level</option>
                <option>Option one</option>
                <option>Option two</option>
            </select>

            <div class="row-fluid">
                <h5>Terms</h5>
                <label class="radio">
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                    Prepaid
                </label>
                <label class="radio">
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                    Collect
                </label>
                <label class="radio">
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                    Third Party
                </label>
                <label class="radio">
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                    C.O.D.
                </label>
            </div>
        </fieldset>
    </div><!--/.clearfix-->
</div><!--/.row-->

<div class="row-fluid clearfix">
    <h4><i class="icon-plus-sign-alt"></i> References &amp; Special Instructions</h4>
    <hr>
    <div class="form-inline">
        <fieldset>
            <select class="span5">
                <option>Customer Primary Reference</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>

            <input type="text" class="span6" placeholder="Enter value here">

            <button class="btn btn-inline btn-square"><i class="icon-plus"></i></button>
            <button class="btn btn-inline btn-square"><i class="icon-trash"></i></button>
        </fieldset>
    </div>
    <hr>
    <label>Special Instructions</label>
    <textarea id="textarea" class="span12" name="textarea" rows="2"></textarea>
</div><!--/.row-->

<div class="row-fluid">
    <h4><i class="icon-plus-sign-alt"></i> Accessorials</h4>
    <hr>
    <strong>Select all that apply</strong>
    <div class="control-group label-small">
        <div class="controls span3">
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Man Delivery">Man Delivery
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Airport Arbitrary Fee">Airport Arbitrary Fee
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="BOL Correction">BOL Correction
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Blanket Wrap">Blanket Wrap
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Construction Site">Construction Site
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Crated Household Goods">Crated Household Goods
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Customs Clearance">Customs Clearance
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Customs or In-Bond Freight">Customs or In-Bond Freight
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Decking">Decking
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Exhibition/Trade Show">Exhibition/Trade Show
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Extra Labor">Extra Labor
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Guaranteed Delivery">Guaranteed Delivery
            </label>
        </div>

        <div class="controls span3">
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Guaranteed Delivery AM">Guaranteed Delivery AM
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Guaranteed Delivery PM">Guaranteed Delivery PM
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Hazmat">Hazmat
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="High Traffic Surcharge">High Traffic Surcharge
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Inside delivery">Inside delivery
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Island Delivery">Island Delivery
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Liftgate">Liftgate
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Limited Access">Limited Access
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Marking and Tagging">Marking and Tagging
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Saturday Delivery">Saturday Delivery
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Security Charge">Security Charge
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Sorting And Segregating">Sorting And Segregating
            </label>
        </div>

        <div class="controls span3">
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Storage">Storage
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Sunday &amp; Holiday Delivery">Sunday &amp; Holiday Delivery
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Mining Site Delivery">Mining Site Delivery
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="TSA Certified">TSA Certified
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Notification Prior to Delivery">Notification Prior to Delivery
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Tarping">Tarping
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Out of Country DF">Out of Country DF
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Team Servlce">Team Servlce
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Out of Country NL">Out of Country NL
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Oversized">Oversized
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="PPA">PPA
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Pier/Wharf/CFS Station">Pier/Wharf/CFS Station
            </label>
        </div>

        <div class="controls span3">
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Protective service charge">Protective service charge
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Redelivery Fee">Redelivery Fee
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Resdential delivery">Resdential delivery
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Residential pickup">Residential pickup
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Temp Controlled">Temp Controlled
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Trl·Axle">Trl·Axle
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Weekdays 0900·1700">Weekdays 0900·1700
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Weekdays 1701 ..0659">Weekdays 1701 ..0659
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Weekend Delivery or Pickup">Weekend Delivery or Pickup
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Weigh Scales">Weigh Scales
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Weight Correction">Weight Correction
            </label>
            <label class="checkbox">
                <input type="checkbox" name="checkboxes" value="Window Delivery">Window Delivery
            </label>
        </div> 
    </div> 
</div><!--/.row-->
