@*<div class="modal" id="AddMessageDynamically" tabindex="-1" role="dialog" aria-labelledby="upload-avatar-title" aria-hidden="true">*@
@*<div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="upload-avatar-title">Upload new avatar</h4>
            </div>
            <div class="modal-body">
                <p>Please choose a file to upload. JPG, PNG, GIF only.</p>
                <form role="form">
                    <div class="form-group">
                        <label for="file">File input</label>
                        <input type="file" id="file">
                        <p class="help-block">Files up to 5Mb only.</p>
                    </div>
                    <input type="text" id="Passit" />
                    <button type="button" class="hl-btn hl-btn-default" id="btnUploadCancel">Cancel data-dismiss="modal"</button>
                    <button type="button" class="hl-btn hl-btn-green">Upload</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->*@
@*</div>*@

<p><strong> @ViewBag.Status</strong></p>